<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
    <link href="bootstrap.css" rel="stylesheet">
    <link href="bootstrap-theme.css" rel="stylesheet">
    <script type="text/javascript" src="bootstrap.js"></script>

    <title>Post It, Comment It</title>
</head>
<body>
    <div class="jumbotron text-center">
      <h1>Post It, Comment It!</h1>
    </div>

    <div class="container">
        <a href="./home"><button class="btn btn-primary">Go Home</button></a>
        {% if ismine %}
            <form method="post" action="./myImages">
                <input type="hidden" name="remove" value="{{ik}}">
                <input class="btn btn-danger pull-right" type="submit" value="Delete this image from repository">
            </form>
        {% endif%}
        <br>
        <div><input type="hidden"></div>
        <div>
            <p>
                <br>&nbsp
                <img class="img" src="data:image/png;base64,{{img.image_bin.encode('base64')}}">
                <br>&nbsp
            </p>
        </div>
        <div class="row">
            <p>
                <b>Name: </b> {{img.i_name}}
            </p>
            <p>
                <b>Description:</b> {{img.i_description}}
            </p>
            <p>
                <b>Author:</b> {{img.i_owner}}
            </p>
            <br>
        </div>

        <div>
            {% if connected %}

            <form id="formcomment" method="post" action="/commentImage?id={{ik}}">
                <textarea id="comment" name="comment" type="text" required placeholder="Write here your comment. MAX 140." rows="3" cols="50" maxlength="140"></textarea>
                <input class="btn btn-warning" type="submit" value="Comment-it">
            </form>
            {% else %}
            <b>Please Sign In in the Home page to write a comment</b>
            {% endif %}


            {% if Comments.count() > 0 %}
                <ul>
                {% for com in Comments %}

                    <li> <b>{{com.c_owner}}</b> said:
                        <br> {{com.content}}
                    </li>

                {% endfor %}
                </ul>
            {% else %}

                    <h2>There aren´t any comments for this image</h2>

            {% endif %}
        </div>
    </div>


</body>
</html>