<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link href="bootstrap.css" rel="stylesheet">
    <link href="bootstrap-theme.css" rel="stylesheet">
    <script type="text/javascript" src="bootstrap.js"></script>

    <title>Post It, Comment It</title>
</head>
<body>
    <div class="jumbotron text-center">
      <h1>Post It, Comment It!</h1>
      <p>Comment all people´s photos arround the world.</p>
    </div>

    <div class="container">
    <div>
            <div class="pull-left">
                <a href="./home.html"><button class="btn btn-primary pad">Go Home</button></a>
            </div>
    </div>
    <br>&nbsp<br>&nbsp
    <div class="row"></div>
        {% set cont = 1 %}
        <div class="row">
        {% for i in img %}
            <div class="col-md-4">
                <a href="./commentImage.html?id={{i.urlsafe()}}"><img class="img-thumbnail" src="data:image/png;base64,{{img[i].encode('base64')}}"></a>
                <b class="center">Image [ {{cont}} ]</b>
                {% set cont = cont + 1 %}
                <br>
            </div>
        {% else %}
            <b>You don´t have any image yet.</b>
        {% endfor %}
        </div>
    </div>
</body>
</html>